
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin: 50px;
    text-align: center;
  }
  
  .col-desktop {
      position: relative;
      background-color: #585858;
      border: 1px solid black;
      margin: 10px;
  }
  
  h2 {
      float: right;
      position: relative;
      border: 1px solid black;
      padding: 5px;
  }
  
  #by {
      background-color: #FF0000;
      color: #FFFFFF;
  }
  
  #ru {
      background-color: #3300FF;
      color: #FFFFFF;
  }
  
  #ua {
      color: black;
      background-color: #FFFF00;
  }
  
  p {
    font-family: Arial, Helvetica;
    color: #FFFFFF;
    clear: right;
    padding: 20px;
  }
  
  /********** Desktop devices only **********/
  @media (min-width: 992px) {
    .col-desktop {
      float: left;
      width: 31.3%;
    }
  }
  
  /********** Tablet devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-tablet {
      float: left;
      width: 46%;
      margin-left: 15px;
    }
  
    #ukraine_div {
        width: 95%;
    }
    
  }
  
  /********** Mobile devices only **********/
  @media (max-width: 767px) {
      .col-mobile {
      float: left;
      width: 90%;
      margin-left: 35px;
      }
  }
  